<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ title ? title ~ ' - ' ~ meta_title : meta_title }}</title>
	
	<meta name="description" content="{{ meta_description }}">
	<meta name="keywords" content="{{ meta_keywords }}">

	<link href="{{ baseUrl() }}/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ baseUrl() }}/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ baseUrl() }}/css/greenhex.css" rel="stylesheet">

	<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

	<!-- Icon Author: Alfredo (https://www.iconfinder.com/alfredoh) License: CC BY 3.0 (http://creativecommons.org/licenses/by/3.0) -->
	<link rel="icon" href="{{ baseUrl() }}/favicon.png" type="image/x-icon"/>
	<link rel="shortcut icon" href="{{ baseUrl() }}/favicon.png" type="image/x-icon"/>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="header">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header pull-left">
					<a href="{{ urlFor('home') }}" class="navbar-brand"><img src="{{ baseUrl() }}/img/greenhex-icon-brand.svg" alt="Brand" width="32" height="32"></a>
					<div class="navbar-header pull-left">
						<ul class="nav navbar-nav">
							<li><a href="{{ urlFor('home') }}" class="hidden-xs">Home</a></li>
							<li><a href="{{ baseUrl() }}/profile">Profile</a></li>
							<li><a href="{{ baseUrl() }}/messages">Messages</a></li>
						</ul>
					</div>
				</div>
				<div class="navbar-header pull-right">
					<ul class="nav navbar-nav">
						<li>
							<form class="navbar-form navbar-right" role="search">
								<div class="form-group">
									<input type="text" class="form-control" data-action="grow" placeholder="Search" style="width: 180px;">
								</div>
							</form>
						</li>
						{% if session.user_auth %}
							<li><a href="{{ baseUrl() }}/notifications"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a></li>
							<li><a href="#" class="profile-img hidden-xs"><img class="img-circle" src="{{ baseUrl() }}/img/uploads/avatar/fb92dea26b557917da1e65a6a3e5d467.png" width="35px" height="35px" style="margin-top:7px;"></a></li>
						{% else %}
							<li><a href="{{ baseUrl() }}/login">Log In</a></li>
							<li><a href="{{ baseUrl() }}/signup">Sign Up</a></li>
						{% endif %}
					</ul>
				</div>
				
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="row">
			{% block content %}{% endblock %}
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<hr>
				</div>
			</div>
		</div>
	</footer>

	<script src="{{ baseUrl() }}/js/jquery-2.2.4.min.js"></script>
	<script src="{{ baseUrl() }}/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function()
		{
			$('#userModal').on('shown.bs.modal', function ()
			{
				$('#userModal').focus();
			});
		});

		$(document).on("focus", '[data-action="grow"]', function()
		{
			$(window).width() > 1e3 && $(this).animate({ width:300 })
		});

		$(document).on("blur", '[data-action="grow"]', function()
		{
			if ($(window).width() > 1e3)
			{
				$(this).animate( {width:180 })
			}
		});
	</script>
</body>
</html>